<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" href='css/bubbles.css'>
	</head>
	<body>
		<canvas id=canvas></canvas>
		<div class='text'>
			BEN CRAIG
			<a target="_blank" href='https://ca.linkedin.com/in/bdcraig' class='icon fa fa-linkedin lnIcon'></a>
			<a target="_blank" href='https://github.com/DukeBaird' class='icon fa fa-github gitIcon'></a>
		</div>
	</body>
	<script type="text/javascript" src='js/bubbles.js'></script>
</html>
