@font-face {
  font-family: brandon;
  src: url(../brandon/Brandon_light.otf);
}
@font-face {
  font-family: brandon;
  src: url(../brandon/Brandon_bld.otf);
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: brandon;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.icon {
  /*position: relative;*/
  font-size: 50px;
  color: rgba(255,255,255,0.5);
  z-index: 9;
}

.gitIcon {
  position: absolute;
  left: 25px;
}

.fa:hover {
  color: rgba(255,255,255,0.8);
  cursor: pointer;
}

.lnIcon {
  position: absolute;
  right: 25px;
}

.text {
  position: absolute;
  left: calc(50% - 125px);
  top: calc(50% - 120px);
  height: 120px;
  text-align: center;
  font-size: 40px;
  color: rgba(255,255,255,0.8);
}
